@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #030712;

  --card: #ffffff;
  --card-foreground: #030712;

  --popover: #ffffff;
  --popover-foreground: #030712;

  --primary: #101828;
  --primary-foreground: #f9fafb;

  --secondary: #f3f4f6;
  --secondary-foreground: #101828;

  --muted: #f3f4f6;
  --muted-foreground: #6a7282;

  --accent: #f3f4f6;
  --accent-foreground: #101828;

  --destructive: #e40014;
  --destructive-foreground: #f9fafb;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #99a1af;

  --shadow-sm: 0 2px 4px #0000000f;
  --shadow-md: 0 4px 8px #00000014;
  --shadow-lg: 0 8px 16px #0000001a;
  --shadow-xl: 0 16px 32px #0000001f;
  --shadow-2xl: 0 32px 64px -12px #00000024;
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(1.9% .27 -5.4);
    --border: lab(91.6% -.15 -2.2);
    --ring: lab(65.9% -.83 -8.1);
  }
}

:root.dark {
  --background: #030712;
  --foreground: #f9fafb;

  --card: #101828;
  --card-foreground: #f9fafb;

  --popover: #101828;
  --popover-foreground: #f9fafb;

  --primary: #e5e7eb;
  --primary-foreground: #101828;

  --secondary: #1e2939;
  --secondary-foreground: #f9fafb;

  --muted: #1e2939;
  --muted-foreground: #99a1af;

  --accent: #1e2939;
  --accent-foreground: #f9fafb;

  --destructive: #ff6568;
  --destructive-foreground: #f9fafb;

  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #6a7282;
}

@supports (color: lab(0% 0 0)) {
  :root.dark {
    --background: lab(1.9% .27 -5.4);
    --foreground: lab(98.2% -.24 -.7);
    --border: lab(100% 0 0 / .1);
    --ring: lab(47.7% -.39 -10);
  }
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-size: 16px;
  line-height: 1.65;
  transition: background-color 0.25s ease, color 0.25s ease;
}
